*{
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #eee;
  color: #222;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.clear{
  clear: both;
}

.header{
  height: 40px;
  background-color: hotpink;
  display: flex;
}

.logo{
  margin-left: 50px;
}

.menu{
  margin-left: 100px;
}

.menu ul{
  display: flex;
  gap: 20px;
}

.logo h3,
.menu ul li a{
  line-height: 40px;
  color: #fff;
}