*{
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #eee;
  color: #222;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.clear{
  clear: both;
}

.header{
  height: 40px;
  background-color: hotpink;
  display: flex;
}

.logo{
  margin-left: 50px;
}

.menu{
  margin-left: 100px;
}

.menu ul{
  display: flex;
  gap: 20px;
}

.logo h3,
.menu ul li a{
  line-height: 40px;
  color: #fff;
}

.section{
  padding: 30px 0;
  display: flex;
}

fieldset{
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px; 
}

.login{
  margin: 30px auto;
  background-color: #fff;
  width: 350px;
  border-radius: 5px;
  padding: 20px;
}

.formrow{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formrow input{
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
}
.formrow button{
  display: inline-block;
  height: 30px;
  padding: 0 30px;
}

/*
.formrow button{
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.formrow button:hover{
  border: 1px solid #aaa;
  color: #666;
} */


.userinfo table{
  border:1px solid #ddd;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-collapse: collapse;
}
.userinfo table tr:nth-child(odd){
  background-color: #fff;
}

.sidebar > ul > li {
  font-size: 14px;
  padding: 5px 0;
  color: blue;
}

.sidebar li li {
  font-size: 14px;
  padding: 5px 0 5px 30px;
  color: blueviolet;
}
